# Ambiente virtual
venv/
ENV/
env/
.venv/

# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Arquivos de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
*.~ 
